body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5ECF0;
}

.column {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 66px;
  position: relative;
  z-index: 0;
}