body {
  width: 100vw;
  background-color: #E5ECF0;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.layoutcolumn {
  width: 100vw;
  margin-top: 62px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.main-column {
  width: 600px;
}

.bodycolumn {
  display: flex;
  flex-direction: column;
  
}