


body {
  width: 100vw;
  background-color: #E5ECF0;
}

/* .layout {
  display: flex;
  flex-direction: row; 
  width: 100vw;
} */

/* 
.container {
  grid-template-areas:
  "<Profile>" | "<Column>" | "<Links>"
} */

.column {
  /* grid-area: Column; */
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 66px; */
  /* position: relative; */
  /* z-index: 0; */
}

.layoutcolumn {
  width: 100vw;
  margin-top: 66px;
  display: flex;
  flex-direction: row;
}

.bodycolumn {
  display: flex;
  flex-direction: column;
  
}