body {
  width: 100vw;
  background-color: #E5ECF0;
  /* display: flex;
 flex-direction: column;
 justify-content: center; */
}

.layoutcolumn {
  /* background-color: red; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
  width: 100vw;
  margin-top: 62px;
  
}

/* .main-column {
  width: 600px;
} */

.bodycolumn {
  display: flex;
  flex-direction: column;
  
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
}