.profilePic {
    border-radius: 50%;
    height: 3em;
    width: 3em;
  }
  
  .engagementImages {
    height: 20px;
    width: 20px;
  }
  
  .card {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 1.5vh 0vh 0.5vh 1.5vh;
    /* border-bottom: 0.05vh solid gray; */
    border-top: 0.03vh solid #d3d3d3;
    font-size: 14px;
  }

  @media only screen and (max-width: 600px) {
    .card {
      width: 100vw;
      padding-left: 2vh;
    }
  }
  
  .userData {
    display: flex;
    flex-direction: row;
    margin-bottom: -1.8em;
  }
  
  .tweet {
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
    margin-left: 3.8em;
  }
  
  .engagement {
    display: flex;
    flex-direction: row;
    margin-left: 3.8em;
    color: dimgray;
    align-items: center;
  }

  .displayName {
    font-weight: bold;
    margin-left: 0.8em;
  }

  .at {
    margin-left: 0.5vh;
    color: dimgray;
    font-size: 13px;
    padding-top: 1.5px;
    font-weight: 600;
  }

  .username { 
    color: dimgray;
    font-size: 13px;
    font-weight: 600;
  }

  .bullet {
    margin-left: 0.5vh; 
    color: dimgray;
    font-weight: 600;
  }

  .timeStamp {
    margin-left: 0.5vh;
    color: dimgray;
    font-size: 13px;
    font-weight: 600;
  }

  .tweetImage {
    width: 35vw;
    border-radius: 3%;
    margin-top: 1vh;
  }

  

  .repliesDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-left: 0.5em;
}

.replies {
  margin-left: 0.5em;
}

.repliesDiv:hover .comments{
color: #1EA1F2;
}

.repliesDiv:hover .replies{
  color: #1EA1F2;
  }

.retweets {
  margin-left: 0.5em;
}

.retweetDiv {
  display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-left: 0.5em;
}

.retweetDiv:hover .retweets{
  color:#18bf64;
  }

  .retweetDiv:hover .retweetIcon{
    color:#18bf64;
    }

    .likeDiv {
      display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-left: 0.5em;
    }

.likes {
  margin-left: 0.5em;
}

.likeDiv:hover .likes{
  color: #e0245e;
  }

  .likeDiv:hover .likesIcon{
    color: #e0245e;
    }

    .envelopeDiv {
      display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2em;
    margin-left: 0.5em;
    }

    .envelopeDiv:hover .envelope{
      color: #1EA1F2;
      }