

.dashboard {
    color: black;
    height: 120px;
    width: 20vw;
    margin-top: -300px;
    margin-left: 8.5vw; 
    background-color: white;
    border-top: 100px solid #00acee ;
    padding-top: 2vh
}



.dashboardpic {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: -50px;
    margin-left: .6vw;
    border: 2px white solid;

}

.name{
    font-weight: bold;
    margin-left: 0.4em;
}

.user {
    color: grey;
    margin-left: 4em;
    
}

.item {
    color: grey;
    display: flex;
    flex-direction: row;
    font-weight: bold;
}