

.dashboard {
    color: black;
    height: 120px;
    width: 20vw;
    background-color: white;
    border-top: 100px solid #00acee ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  
    /* margin-right: 10px; */
    margin-left: 30px;


    /* padding-top: 2vh */
}

.trends {
color: black;
    height: 120px;
    width: 20vw;
    background-color: white;
    display: flex;
    flex-direction: column;
    /* padding-top: 2vh */
}




.dashboardpic {
    border-radius: 50%;
    height: 80px;
    width: 80px;
    position: relative;
    margin-top: -39px;
    margin-left: .6vw;
    border: 2px white solid;

}

.name{
    font-weight: bold;
    margin-left: 30px;
    margin-top: -1em;
}

.user {
    color: grey;
    margin-left: 5em;
    margin-top: -20px;
    
}



.item {
    display: flex;
    flex-direction: row;
    color: grey;
    font-size: 12px;
   font-weight: 800;
   margin-left: 20px;
   margin-right: 60px;
   justify-content: space-between;
}

.stats {
    color: #00acee;
    font-size: 15px;
    font-weight: 900;
}