.footer  {
    color: black;
    height: 80px; 
    width: 20vw;
    background-color: white;
    /* padding-top: 2vh */
}

.footer2 {
    color: black;
    height: 60px; 
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    
    /* padding-top: 2vh */
}




.footer-links {
    
    color: dimgray;
    font-size: 12px;
    font-weight: 350;
    padding-top: 20px;
    padding-left: 8px;
}
    .footer-links:hover  {
        color: #1EA1F2;    
    }




.ad-link {
    font-size: 13px;
    font-weight: 600;
     color: #1EA1F2;
     display: inline-block;
}


.whotofollow {
    color: black;
    height: 150px;
    width: 20vw;
    background-color: white;
}