.footer  {
    color: black;
    height: 98px; 
    width: 20vw;
    background-color: white;
    /* padding-top: 2vh */
}

.footer2 {
    color: black;
    height: 50px; 
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 20vw;
    border-top: 2px solid #E5ECF0;
    
    
    /* padding-top: 2vh */
}




.footer-links {
    
    color: dimgray;
    font-size: 12px;
    font-weight: 350;
    padding-top: 5px;
    padding-left: 12px;
    
    
}
    .footer-links:hover  {
        color: #1EA1F2;    
    }


 

.ad-link {
    font-size: 13px;
    font-weight: 400;
     color: #1EA1F2;
     display: inline-block;
     padding-left: 12px;
     padding-top: 3px;
    
}


.whotofollow {
    color: black;
    height: 150px;
    width: 20vw;
    background-color: white;
    border-bottom: 12px solid #E5ECF0;
    
}