


.Nav-bar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: #fff;
    border-bottom: 0.05vh solid gray;
    justify-content: center;
    font-family: 
}

.Nav-bar-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 65vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;;
    font-size: 14px;
    line-height: 20px;
}

.Nav-section-left {
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}

.Nav-section-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

/* .sticky {
    position: fixed;
    top: 0;
    
  } */