html {
    margin: 0;
    padding: 0;
}

.Nav-bar {
    display: flex;
    flex-direction: row;
    /* position: relative; */
    overflow: hidden;
    background: #fff;
    border-bottom: 0.05vh solid gray;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 10vh;
    position: fixed !important;
    top: 0px !important;
    left: 0px !important;
    width: 100vw;
}

/* .Nav-bar  {
    
  } */

.navItem {
    color: #657786;
    margin-right: 2em;
    
}

.Nav-central {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navIcon {
    color: #657786;
    font-size: 17px;
    margin-right: 0.2em;
    
}

.Nav-bar-box:hover .navIcon {
    color: #1EA1F2;    
}

.Nav-bar-box:hover .navItem {
    color: #1EA1F2;   
}

.Nav-bar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-bottom: 3px #fff solid;
    text-align: center;
    padding-left: 25px;
}

.Nav-bar-box:hover {
    color: #1EA1F2;
    border-bottom: 3px #1EA1F2 solid;
    
}

.Nav-bar-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 86vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}

.Nav-section-left {
 display: flex;
 flex-direction: row;
 justify-content: flex-start space-evenly;
}

.Nav-section-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end space-evenly;
    align-items: center;
}

/* .sticky {
    position: fixed;
    top: 0;
    
  } */

  .birdy {
      color: #1EA1F2;
      font-size: 19.5px;
  }

  .Nav-tweet {
      height: 30px;
      width: 70px;
      background-color:  #1EA1F2;
      border-radius: 16px;
      cursor: pointer;
  }

  .Nav-tweet:hover {
      background-color: #0084b4;
  }


  .Nav-search-wrap {
      margin: 0 auto;
      position: relative;
      text-align: center;
      
  }

  .Search-box {
    border-radius: 16px;
    height: 25px;
    width: 200px;
  }

  

  /* .Nav-bar-width */

  
  
  
 

 

 

