.fontAwesome {
    font-family: 'Helvetica', 'FontAwesome', sans-serif;
}

.Nav-bar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background: #fff;
    border-bottom: 0.05vh solid gray;
    justify-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, 'FontAwesome', sans-serif;
    position: fixed ;
    top: 0px ;
    width: 100vw;
    z-index: 1;
}


.navItem {
    color: #657786;
    margin-right: 2em;
    
}

.Nav-central {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navIcon {
    color: #657786;
    font-size: 17px;
    margin-right: 0.2em;
    
}

.Nav-bar-box:hover .navIcon {
    color: #1EA1F2;    
}

.Nav-bar-box:hover .navItem {
    color: #1EA1F2;   
}

.Nav-bar-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    border-bottom: 3px #fff solid;
    text-align: center;
    padding-left: 25px;
}

.Nav-bar-box:hover {
    color: #1EA1F2;
    border-bottom: 3px #1EA1F2 solid;
    
}

.Nav-bar-width {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 46px;
    width: 86vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: bold;
}



.Nav-section-left {
 display: flex;
 flex-direction: row;
 justify-content: flex-start space-evenly;
 cursor: pointer;
 align-items: baseline;
}

.Nav-section-right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end space-between;
    align-items: center;
}

  .birdy {
      color: #1EA1F2;
      font-size: 19.5px;
      cursor: pointer;
  }

  .Nav-tweet {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     position: static;
      height: 30px;
      width: 70px;
      background-color:  #66B2EE;
      border-radius: 16px;
      cursor: pointer;
      z-index: 0;
  }

 

  .navtweetText {
      text-align: center;
      position: sticky;
      padding-left: 22px;
      padding-bottom: 3px;
      z-index: 1;
  }

  .tweetButton {
    color: white;
}

  .Nav-tweet:hover {
      background-color: #4AA0EB;
  }

  .UserPic {
      padding-left: 20px;
      padding-right: 20px;
  }

  .Nav-search-wrap {
      margin: 0 auto;
      position: relative;
      text-align: center;     
  }

  .Search-box {
    border-radius: 16px;
    border: 1px #E6ECF0 solid;
    background: #F5F8FA;
    padding-left: 10px; 
    height: 25px;
    width: 200px;
    z-index: 2;
  }

  .Nav-user-image {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
  }

  
  
  
 

 

 

